/* ~~~~~~~~~~~~~~~ MOBILE VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
main {
  width: 100%;
}
.logo_pic {
  /* height: 5rem;
        width: 10rem; */
  margin-top: 0.5rem;
  stroke: #93b7be;
  max-width: 50%;
}
.logo_pic > img {
  max-width: 100%;
}

header {
  /* background: rgb(245, 245, 245, 0.2); */
  background: #2d3047;
  width: 100vw;
  padding: 1rem 1rem;
  box-sizing: border-box;
  /* box-shadow: 0px 10px 10px #1d2038; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border-top: 10px solid rgba(245, 245, 245, 0.2); */
}

.fence_pic {
  height: 15%;
  width: 90vw;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), #2d3047);
  z-index: 0;
}

.welcomeP_searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_p {
  color: rgba(147, 183, 190, 1);
  text-align: center;
  margin: 1rem;
  align-self: center;
}

.search_form {
  display: flex;
  justify-content: center;
}

.weather_route_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.02);
  box-shadow: 0px 5px 20px #1d2038;
  width: 100%;
}

.weather_route_div_home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 10px 10px #1d2038;
  margin-bottom: 15px;
}

.timezone_h3,
.weather_conditions_p,
.weather_icon_img {
  margin: 0.25rem;
}

.weather_icon_img {
  height: 4rem;
  width: 4rem;
}

.timezone_h3,
.weather_conditions_p {
  font-size: 1rem;
  margin-top: 0.3rem;
  color: #dde0e0;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
}

.timezone_text,
.conditions_text {
  display: inline;
  color: #93b7be;
}

.LearnMore {
  display: flex;
  justify-content: center;
  color: #05c7ba;
}

.homepage_h1 {
  font-family: bdr-mono, sans-serif;
  font-weight: 700;
  color: rgba(147, 183, 190, 0.8);
  font-size: 2rem;
  margin: 0px;
  z-index: 1;
}

/* Google Fonts I have linked the project to. */
/* font-family: 'Alumni Sans', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif; 
    font-family: 'Trispace', sans-serif;*/

.temp_icon_details_div {
  display: flex;
  align-items: center;
  color: #93b7be;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.weather_info_p:hover {
  color: #e0ca3c;
}

.info-card {
  box-sizing: border-box;
  border: 1px solid #dde0e0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 7px;
  background-color: rgba(147, 183, 190, 0.25);
  color: #dde0e0;
}

/* ~~~~~~~~~~~~~ PARK SERACH FORM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.park-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.park-search-headline {
  color: #dde0e0;
}
.park-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.park-search-label {
  width: 100%;
}
.park-search-zip {
  box-sizing: border-box;
  padding: 1em 2em;
  width: 75%;
  border: 3px solid #dde0e0;
  border-radius: 50px;
  margin-bottom: 0.5em;
}
.park-search-button {
  padding: 1em 2.5em;
  color: #2d3047;
  background-color: #93b7be;
}
/* ~~~~~~~~~~~~~ PARK LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.park-list {
  max-width: 100%;
}
.park-list-headline {
  color: rgba(147, 183, 190, 1);
  margin-left: 1rem;
}
.park-list-name {
  font-weight: 700;
}
.park-list-name > a {
  color: #dde0e0;
  text-decoration: none;
}

.park-list-name > a:hover {
  color: #e0ca3c;
}

.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(245, 245, 245, 0.2);
  margin: 0px;
  height: 2.25rem;
  max-width: 100%;
}

.navbar_home > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(245, 245, 245, 0.2);
  margin: 0px;
  height: 2.25rem;
  max-width: 100%;
}

.navbar_p {
  color: #2d3047;
  font-family: "Alumni Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0.25rem 2rem;
}

.navbar_p_home {
  color: #2d3047;
  font-family: "Alumni Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0.25rem 2rem;
}

.navbar_p_home:hover {
  color: #e0ca3c;
}

.navbar_p:hover {
  color: #e0ca3c;
}

.telescope_img {
  height: 5rem;
  width: 5rem;
  background: #03635d;
  padding: 1.5rem;
  border-radius: 50%;
}

.newsfeed_h2 {
  color: #93b7be;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3rem;
}

.newsfeed_card {
  width: 70%;
}

.newsArticle_div {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
}

.newsArticle_div_all {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.newsArticle_div:nth-child(2n) {
  flex-direction: row;
}

.newsArticle_div_all:nth-child(2n) {
  flex-direction: row-reverse;
}

/* ~~~~~~~~~~~~~ Steph added this for the NewsFeed ~~~~~~~~~~~~ */
.newsfeed-pix {
  width: 70%;
}

.newsfeed-div {
  width: 70%;
  margin: auto;
}

/* ~~~~~~~~~~~~~ TABLET VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 768px) {
  .timezone_h3,
  .weather_conditions_p {
    font-size: 1.25rem;
    display: inline-block;
    margin: 1.5rem;
  }

  .temp_icon_details_div {
    font-size: 1rem;
  }

  .fence_pic {
    height: 10%;
    width: 80vw;
  }

  .navbar_p {
    margin: 0.25rem 3rem;
    font-size: 1.5rem;
  }

  .navbar_p_home {
    margin: 0.25rem 3rem;
    font-size: 1.5rem;
  }

  .homepage_h1 {
    font-size: 3rem;
  }

  .welcome_p {
    width: 60vw;
  }
}

/* ~~~~~~~~~~~ DESKTOP VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 1200px) {
  .timezone_h3,
  .weather_conditions_p {
    font-size: 1.25rem;
    margin: 1rem;
  }

  .weather_route_div_home {
    margin-top: 0.8rem;
    display: flex;
    max-width: 40%;
    box-shadow: none;
  }

  .fence_pic {
    width: 70vw;
    height: 10%;
  }

  .navbar_home {
    width: 60%;
  }

  .navbar_home > ul {
    height: 3rem;
    background: none;
    max-width: 60%;
  }

  .navbar_p_home {
    margin: 0.25rem 1rem;
    font-size: 2rem;
  }

  .navbar_p {
    font-size: 2.25rem;
  }

  .navbar > ul {
    height: 3rem;
  }

  .homepage_h1 {
    font-size: 3.75rem;
  }

  .desktop-wrap_nav_weather {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 0.2);
    max-width: 100vw;
  }
}
