/* ~~~~~~~~~~~~~~~ MOBILE VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .logo_pic {
        /* height: 5rem;
        width: 10rem; */
        margin-top: .5rem;
        stroke: #93B7BE ;
    }
    
    header {
        background:rgb(245, 245, 245, .2);
        height: 6.5rem;
        padding: 1.5rem 2rem;
        box-shadow: 0px 5px 10px #1d2038;
        display: flex;
        justify-content: space-between;
    }
    
    body {
        background: #2d3047;
    }
    
    .fence_pic {
        height: 15rem;
        width: 90vw;
        mask-image: linear-gradient(to top, rgba(0,0,0, .2), #2d3047);
        z-index: 0;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .weather_route_div {
        /* width: 20rem; */
        /* height: 4rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin-right: .25rem;
    }
    
    
    .timezone_h3,
    .weather_conditions_p,
    .weather_icon_img {
        margin: 0px;
    }
    
    .weather_icon_img {
        height: 4rem;
        width: 4rem;
    }
    
    .timezone_h3,
    .weather_conditions_p {
        font-size: 1rem;
        text-align: center;
        margin-top: .3rem;
        color: #93B7BE;
        font-family: 'Alumni Sans', sans-serif;
        font-weight: 400;
    }
    
    .timezone_text,
    .conditions_text {
        display: inline;
        color: #2d3047;
    }
    
    .LearnMore {
        display: flex;
        justify-content: center;
        color: #05C7BA;
    }
    
    .homepage_h1 {
        font-family: 'Alumni Sans', sans-serif;
        font-weight: 700;
        color: rgba(147, 183, 190, .8);
        font-size: 4rem;
        margin: 0px;
        z-index: 1;
    }
    
    /* Google Fonts I have linked the project to. */
    /* font-family: 'Alumni Sans', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif; 
    font-family: 'Trispace', sans-serif;*/





/* ~~~~~~~~~~~~~ TABLET VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 768px){

    .timezone_h3,
    .weather_conditions_p {
        font-size: 1.5rem;
    }

}


/* ~~~~~~~~~~~ DESKTOP VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 1200px) { 

    .timezone_h3,
    .weather_conditions_p {
        font-size: 1.75rem;
    }

    .weather_route_div {
        margin-top: .8rem;
    }

}