
body {
  font-family: 'Roboto', sans-serif;
}
/* ~~~~~~~~~~~~~~~ MOBILE VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
main {
  width: 100%;
}
a {
  color: #dde0e0;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  color: #e0ca3c;
}
.logo_pic {
  /* height: 5rem;
        width: 10rem; */
  margin-top: 0.5rem;
  stroke: #93b7be;
  max-width: 50%;
}
.logo_pic > img {
  max-width: 100%;
}

header {
  /* background: rgb(245, 245, 245, 0.2); */
  background: #2d3047;
  width: 100vw;
  padding: 1rem 1rem;
  box-sizing: border-box;
  /* box-shadow: 0px 10px 10px #1d2038; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  /* border-top: 10px solid rgba(245, 245, 245, 0.2); */
}

.fence_pic {
  height: 15%;
  width: 90vw;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), #2d3047);
}

.welcomeP_searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_p {
  color: rgba(147, 183, 190, 1);
  text-align: center;
  margin: 1rem;
  align-self: center;
}

.search_form {
  display: flex;
  justify-content: center;
}

.weather_route_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.02);
  box-shadow: 0px 5px 20px #1d2038;
  width: 100%;
}

.weather_route_div_home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 10px 10px #1d2038;
  margin-bottom: 15px;
}

.timezone_h3,
.weather_conditions_p,
.weather_icon_img {
  margin: 0.25rem;
}

.weather_icon_img {
  height: 4rem;
  width: 4rem;
}

.timezone_h3,
.weather_conditions_p {
  font-size: 1rem;
  margin-top: 0.3rem;
  color: #dde0e0;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
}

.timezone_text,
.conditions_text {
  display: inline;
  color: #93b7be;
}

.LearnMore {
  display: flex;
  justify-content: center;
  color: #05c7ba;
}

.homepage_h1 {
  font-family: bdr-mono, sans-serif;
  font-weight: 700;
  color: rgba(147, 183, 190, 0.8);
  font-size: 2rem;
  margin: 0px;
  z-index: 0;
}

/* Google Fonts I have linked the project to. */
/* font-family: 'Alumni Sans', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif; 
    font-family: 'Trispace', sans-serif;*/

.temp_icon_details_div {
  display: flex;
  align-items: center;
  color: #93b7be;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.weather_info_p:hover {
  color: #e0ca3c;
  cursor: pointer;
}

.info-card {
  box-sizing: border-box;
  border: 1px solid #dde0e0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 7px;
  background-color: rgba(147, 183, 190, 0.25);
  color: #dde0e0;
}

/* ~~~~~~~~~~~~~~~~~~~~ FORECAST MODAL ~~~~~~~~~~~~~~~~~~` */
.modal {
    display: flex;
    flex-wrap: wrap;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.form-modal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(147, 183, 190, 1);
    margin: auto;
    padding: 1rem;
    border: 1px solid #dde0e0;
    border-radius: 7px;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 40rem;
    box-sizing: content-box;
  }

  .form-modal-content{
    display: flex;
    background-color: rgba(147, 183, 190, 0.25);
    margin: auto;
    padding: 1rem;
    border: 1px solid #dde0e0;
    border-radius: 7px;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 20rem;
    box-sizing: content-box;
  }

  .modal_h2{
      color: #dde0e0;
      text-align: center;
      margin:5px;
      font-family:  "Alumni Sans", sans-serif;
  }
  
  /* The Close Button */
  .close {
    color: #2d3047;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #e0ca3c;
    text-decoration: none;
    cursor: pointer;
  }

  .hour_info,
  .daily_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #dde0e0;
      border-radius: 7px;
      width: calc(28% - .01rem);
      height: calc(30% - .02rem);
      box-shadow: 0px 2px 10px #1d2038;
      margin: .2rem .3rem;
      color: #2d3047;
      box-sizing: border-box;
      font-size: 1rem;
      font-family:  "Alumni Sans", sans-serif;
  }

  .daily_info{
    width: calc(20% - .01rem);
    height: calc(30% - .02rem);
  }

  .forecast_card {
      background: #dde0e0;
      width: 100%;  
      border-radius: 0px 0px 7px 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }

  .hourly_forecast{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  .daily_forecast{
      display: flex;
      width: 100%;
      /* height: 10rem; */
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .forecast_p {
      margin: 0px;
  }


/* ~~~~~~~~~~~~~ PARK SEARCH LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.hidden {
  display: none;
}


.park-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100%;
}
.park-search-headline {
  /* color: #93b7be; */
  color: #dde0e0;
  margin-top: 2em;
}
.park-search-zip {
  box-sizing: border-box;
  padding: 1em 2em;
  width: 75%;
  border: 3px solid #dde0e0;
  border-radius: 50px;
  margin-bottom: 0.5em;
}
.park-search-button {
  margin-top: .5em;
  padding: 1em 2.5em;
  color: #2d3047;
  background-color: #93b7be;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-size: 1em;
  transition: all .5s ease-in-out;
}

.park-search-button:hover{
  background: #ED6A5A;
  color: #dde0e0;
}
/* ~~~~~~~~~~~~~~~~~ DARK PARK SEARCH ~~~~~~~~~~~~~ */
.dark-park-search{
  height: 12vh;
}

.dark-park-search-form{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.dark-park-search-zip {
  /* margin: .5rem; */
  box-sizing: border-box;
  padding: .5em 1.5em;
  width: 30%;
  border: 3px solid #dde0e0;
  border-radius: 50px;
  margin-bottom: 0.5em;
  font-size: .6rem;
}

.dark-park-search-button {
  /* margin: .5rem; */
  padding: .25em 1em;
  color: #2d3047;
  background-color: #93b7be;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-size: .75em;
  transition: all .5s ease-in-out;

}

.dark-park-search-button:hover{
  background: #ED6A5A;
  color: #dde0e0;
}

.dark-park-search-headline{
  color: #dde0e0;
  /* margin-top: 1.5em; */
  text-align: center;
  font-size: 1rem;
}

.dark-park-list-card{
  background-color: rgba(45, 48, 71, 0.75);
  width: 80%;
}

/* ~~~~~~~~~~~~~ PARK LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.park-list {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-park-list{
  background-image: url("./images/parklistbackground.png");
  background-position:bottom;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover; 
}

.park-list-headline {
  /* color: rgba(147, 183, 190, 1); */
  color: #dde0e0;
  /* margin-left: 1rem;
  margin-bottom: 0; */
  margin: 1rem 0;
  /* text-shadow: 2px 2px 10px rgba(0,0,0, .95); */
  text-align: center;
}
.park-list-name {
  font-weight: 700;
  font-size: 1.25rem; 
}

.park-list-card{
  width: 80%;
}

.park-list-name > a:hover {
  color: #e0ca3c;
  
}
.more-details-link {
  display: inline-block;
  box-sizing: border-box;
  margin-top: .5em;
  padding: .5em 1.5em;
  color: #2d3047;
  background-color: #93b7be;
  border: none;
  border-radius: 7px;
  font-size: 1em;
  font-weight: 700;
  transition: all .5s ease-in-out;
}
.more-details-link:hover {
  background: #ED6A5A;
  color: #dde0e0;
}
details {
  margin-top: 1.5em;
}

/* summary:hover, details:hover {
  color: #e0ca3c; 

} */

/* ~~~~~~~~~~~~~ COMMENT FORM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#comment-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  padding-top: 1em;
}
.ratingInput {
  padding: .5em 1em;
  margin-bottom: 1em;
}
.commentInput {
  padding: .5em 1em;
  margin-bottom: 1em;
}
.rating-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0 .5em 0;
  gap: .5em;
}
.fa-star {
  max-width: 25px;
  cursor: pointer;
}
.clicked {
  color: #ff8800;
}
.btn-submit-commit {
  margin-top: .5em;
  padding: .5em 1.5em;
  color: #2d3047;
  background-color: #93b7be;
  border: none;
  border-radius: 7px;
  font-size: 1em;
  font-weight: 700;
  width: 50%;
  align-self: center;
  transition: all .5s ease-in-out;
}
.btn-submit-commit:hover {
  background: #ED6A5A;
  color: #dde0e0;
}


.comments-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-div{
  display: flex;
  align-items: center;
  
}

.comment-div:nth-child(2n){
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  
}


.comment-card{
  flex: .8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(245, 245, 245, 0.2);
  margin: 0px;
  height: 2.25rem;
  max-width: 100%;
}

.navbar_home > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(245, 245, 245, 0.2);
  margin: 0px;
  /*padding: 0px; */
  height: 2.25rem;
  max-width: 100%;
}

/* .navbar_p {
    color: #2D3047;
    font-family: "Alumni Sans", sans-serif;
    font-size: 1.15rem;
    margin: .25rem 2rem;
} */

.navbar-item > a {
    color: #2D3047;
    font-family: "Alumni Sans", sans-serif;
    font-size: 1.25rem;
    padding: 0px;
    margin: 0px;
    /* margin: .25rem 2rem; */
}

.navbar-item:hover > a {
  color: #e0ca3c;
}

.navbar_p_home > a{
    text-decoration: none;
    color: #2D3047;
}

.navbar_p:hover {
  color: #e0ca3c;
}

.telescope_img {
  height: 5rem;
  width: 5rem;
  background: #03635d;
  padding: 1.5rem;
  border-radius: 50%;
}
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.newsfeed_h2{
  color: #93b7be;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: 0;
}
.newsfeed-headline {
  color: #93b7be;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
}
.newsfeed_title {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 0;
}
.newsfeed_card {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsArticle_div {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  margin: 1rem;
  width: 80%;
}

.newsArticle_div_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.newsArticle_div:nth-child(2n) {
  flex-direction: row;
}

.newsArticle_div_all:nth-child(2n) {
  flex-direction: row-reverse;
}

/* ~~~~~~~~~~~~~ Steph added this for the NewsFeed ~~~~~~~~~~~~ */
.newsfeed-pix {
  width: 55%;
  margin-bottom: .5em;
  border: 1px solid #dde0e0;
  box-shadow: 3px 3px 5px rgba(0,0,0, .25);
}

.newsfeed-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
}
.newsfeed-text {
  margin-left: 1em;
}

/* ~~~~~~~~~~~~~ TABLET VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 768px) {
  .timezone_h3,
  .weather_conditions_p {
    font-size: 1.25rem;
    display: inline-block;
    margin: 1.5rem;
  }

  .temp_icon_details_div {
    font-size: 1rem;
  }

  .fence_pic {
    height: 10%;
    width: 80vw;
  }

  .navbar_p {
    margin: 0.25rem 3rem;
    font-size: 1.5rem;
  }

  .navbar_p_home {
    margin: 0.25rem 3rem;
    font-size: 1.5rem;
  }

  .homepage_h1 {
    font-size: 3rem;
  }

  .welcome_p {
    width: 60vw;
  }

  /* ~~~~~~~~~~~~~~~~~~~~ TABLET VIEW FORECAST MODAL ~~~~~~~~~~~~~~~~~~` */
.modal {
    display: flex;
    flex-wrap: wrap;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(147, 183, 190, 1);
    margin: auto;
    padding: 1rem;
    border: 1px solid #dde0e0;
    border-radius: 7px;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 35rem;
    box-sizing: content-box;
  }

  .modal_h2{
      color: #dde0e0;
      text-align: center;
      margin: 1.25rem;
  }
  
  /* The Close Button */
  .close {
    color: #2d3047;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #e0ca3c;
    text-decoration: none;
    cursor: pointer;
  }

  .hour_info,
  .daily_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #dde0e0;
      border-radius: 7px;
      width: calc(12% - .01rem);
      height: calc(30% - .02rem);
      box-shadow: 0px 2px 10px #1d2038;
      margin: .2rem .3rem;
      color: #2d3047;
      box-sizing: border-box;
      font-size: 1.25rem;
  }

  .hour_info{
    width: calc(15% - .01rem);
  }


  .forecast_card {
      background: #dde0e0;
      width: 100%;  
      border-radius: 0px 0px 7px 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }

  .hourly_forecast{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  .daily_forecast{
      display: flex;
      width: 100%;
      /* height: 10rem; */
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .forecast_p {
    margin: .5rem;
    }

    .modal_h2{
        font-size: 2rem;
    }

    /* ~~~~~~~~~~ PARK SEARCH AND DARK PARK SEARCH ~~~~~~~~~~~~~ */

    .park-search-zip {
      width: 35%; 
    }

    .dark-park-search-zip{
      width: 35%;
      font-size: .75rem;
    }

    .park-list-headline{
      font-size: 2rem;
    }

    .home-card, .learn-more-card, .park-list-card, .newsfeed-card {
      width: 80%; 
      min-width: 80%;
    }

    .newsfeed-div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin: 0;
    }
  
    .newsfeed-pix {
      width: 35%;
      margin-bottom: 0;
      border: 1px solid #dde0e0;
      box-shadow: 3px 3px 5px rgba(0,0,0, .25);
    }



}

/* ~~~~~~~~~~~ DESKTOP VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 1200px) {
  .timezone_h3,
  .weather_conditions_p {
    font-size: 1.25rem;
    margin: 1rem;
  }

  .weather_route_div_home {
    margin-top: 0.8rem;
    display: flex;
    max-width: 40%;
    box-shadow: none;
  }

  .fence_pic {
    width: 70vw;
    height: 10%;
  }

  .navbar_home {
    width: 60%;
  }

  .navbar_home > ul {
    height: 3rem;
    background: none;
    max-width: 60%;
  }

  .navbar-item > a {
    margin: 0.25rem 1rem;
    font-size: 2rem;
  }

  .navbar_p {
    font-size: 2.25rem;
  }

  .navbar > ul {
    height: 3rem;
  }

  .homepage_h1 {
    font-size: 3.75rem;
  }

  .desktop-wrap_nav_weather {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 0.2);
    max-width: 100vw;
  }

  .park-search-zip {
    width: 25%; 
  }

  .dark-park-search-zip{
    width: 25%;
  }

  .dark-park-search-button {
    padding: .5rem 2rem;
  }

  .home-card, .learn-more-card, .park-list-card, .newsfeed-card {
    width: 80%; 
    min-width: 80%;
  }

  .comment-card{
    flex: .6
  }
}
